<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>

    <meta http-equiv="Content-Type" content="ext/html;
charset =UTF-8"/>
</head>


<!--
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:classappend=" ${#httpServletRequest.getRequestURI() == '/greeting' ? 'active':''}"><a class="nav-link" href="/greeting">Greeting</a></li>
                <li class="nav-item" th:classappend=" ${#httpServletRequest.getRequestURI() == '/adresse' ? 'active':''}"><a class="nav-link" href="/adresse">Adresse</a></li>
                <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI() == '/addresses' ? 'active':''}"><a class="nav-link" href="/addresses">Adresses</a></li>
            </ul>
        </div>
</div>-->

    <a href="adresse">adresse</a>
    <a href="greeting">greeting</a>
    <a href="addresses">addresses</a>
    <a href="h2-console">console H2</a>


</html>